{
  "openapi": "3.0.3",
  "info": {
    "title": "NonPay API",
    "description": "NonPay Payment Processing API for collect (deposit) and disburse (withdrawal) operations",
    "version": "2.2.1"
  },
  "servers": [
    {
      "url": "https://api.nonpay.net",
      "description": "Production environment"
    },
    {
      "url": "https://api-test.nonpay.net",
      "description": "Test environment"
    }
  ],
  "paths": {
    "/wallet": {
      "get": {
        "tags": ["Account"],
        "summary": "Get Account Balance",
        "description": "Retrieve the current wallet balance for the authenticated merchant account",
        "operationId": "getWalletBalance",
        "parameters": [
          {
            "name": "sender_id",
            "in": "query",
            "description": "Unique merchant account identifier",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "merchant_12345"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "string",
                      "description": "Current account balance",
                      "example": "5000.00"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency code (ISO 4217)",
                      "example": "INR"
                    },
                    "sender_id": {
                      "type": "string",
                      "description": "Merchant account identifier"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the balance query"
                    }
                  },
                  "required": ["balance", "currency", "sender_id", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/submit": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create Payment",
        "description": "Initiate a new payment transaction (collect or disburse)",
        "operationId": "createPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCreateDTO"
              },
              "examples": {
                "CollectUPIHeadless": {
                  "summary": "Collect payment via UPI (H2H mode)",
                  "value": {
                    "side": "collect",
                    "flow": "peer",
                    "order_id": "order_20260402_001",
                    "gross_amount": "1000.00",
                    "callback": "https://merchant.com/callback",
                    "ccy": "INR",
                    "method": "upi",
                    "sender_id": "merchant_12345",
                    "headless": true
                  }
                },
                "CollectUPIWidget": {
                  "summary": "Collect payment via UPI (Widget mode)",
                  "value": {
                    "side": "collect",
                    "flow": "peer",
                    "order_id": "order_20260402_002",
                    "gross_amount": "1000.00",
                    "callback": "https://merchant.com/callback",
                    "ccy": "INR",
                    "method": "upi",
                    "return_page": "https://merchant.com/return",
                    "sender_id": "merchant_12345",
                    "headless": false
                  }
                },
                "DisburseIMPS": {
                  "summary": "Disburse payment via IMPS (Bank Transfer)",
                  "value": {
                    "gross_amount": "2050.00",
                    "callback": "https://merchant.com/callback",
                    "ccy": "INR",
                    "order_id": "order_20260402_003",
                    "side": "disburse",
                    "flow": "peer",
                    "method": "imps",
                    "sender_id": "merchant_12345",
                    "sender_name": "Merchant Store",
                    "headless": true,
                    "disburse_details": {
                      "receiver_name": "Charlie Brown",
                      "account_no": "123456789012",
                      "routing_code": "HDFC0002060"
                    }
                  }
                },
                "DisburseUPI": {
                  "summary": "Disburse payment via UPI",
                  "value": {
                    "gross_amount": "500.00",
                    "callback": "https://merchant.com/callback",
                    "ccy": "INR",
                    "order_id": "order_20260402_004",
                    "side": "disburse",
                    "flow": "peer",
                    "method": "imps",
                    "sender_id": "merchant_12345",
                    "sender_name": "Merchant Store",
                    "headless": true,
                    "disburse_details": {
                      "receiver_name": "Alice Johnson",
                      "upi_handle": "alice.johnson@okaxis"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txn_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique transaction identifier"
                    },
                    "order_id": {
                      "type": "string",
                      "description": "Merchant order identifier"
                    },
                    "state": {
                      "type": "string",
                      "enum": ["in_progress", "completed", "failed", "rejected", "paid_adjusted", "paid_partial"],
                      "description": "Current transaction state"
                    },
                    "method": {
                      "type": "string",
                      "description": "Payment method used (UPI, IMPS, etc.)"
                    },
                    "payment_link": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "description": "Payment link for widget mode (null for headless mode)"
                    },
                    "gross_amount": {
                      "type": "string",
                      "description": "Payment amount"
                    },
                    "client_amount": {
                      "type": "string",
                      "nullable": true,
                      "description": "Amount paid by client"
                    },
                    "ccy": {
                      "type": "string",
                      "description": "Currency code (ISO 4217)"
                    },
                    "reject_reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Reason for rejection if payment failed"
                    },
                    "submitted_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when payment was submitted"
                    },
                    "finalized_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Timestamp when payment was finalized"
                    },
                    "beneficiary_info": {
                      "type": "object",
                      "nullable": true,
                      "description": "Beneficiary information for collect operations",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Beneficiary type (upi, card, etc.)"
                        },
                        "upi_account": {
                          "type": "string",
                          "description": "UPI account identifier"
                        },
                        "qr_code_data": {
                          "type": "string",
                          "description": "QR code data for UPI payments"
                        }
                      }
                    },
                    "deadline": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time",
                      "description": "Payment deadline"
                    }
                  },
                  "required": ["txn_id", "order_id", "state", "method", "gross_amount", "ccy", "submitted_at"]
                },
                "examples": {
                  "CollectUPIHeadlessResponse": {
                    "summary": "UPI Collect (H2H mode) response",
                    "value": {
                      "txn_id": "019d4e2a-296e-7981-b2c3-181a679df8e6",
                      "method": "UPI",
                      "payment_link": null,
                      "order_id": "order_20260402_001",
                      "state": "in_progress",
                      "client_amount": null,
                      "reject_reason": null,
                      "gross_amount": "1000.00",
                      "ccy": "INR",
                      "submitted_at": "2026-04-02T12:27:59.218Z",
                      "finalized_at": null,
                      "beneficiary_info": {
                        "type": "upi",
                        "upi_account": "gpay-12195732109@okbizaxis",
                        "qr_code_data": "upi://pay?pa=gpay-12195732109@okbizaxis&pn=True7&cu=INR&am=1000"
                      },
                      "deadline": null
                    }
                  },
                  "CollectUPIWidgetResponse": {
                    "summary": "UPI Collect (Widget mode) response",
                    "value": {
                      "txn_id": "019d4e2b-95e4-7fb2-a526-4a14507dec2b",
                      "method": "UPI",
                      "payment_link": "https://paytopay3.pserv-iner.in/cmnhgc8oi00bf7aqqfxq36wvs?method=upi&prevId=null",
                      "order_id": "order_20260402_002",
                      "state": "in_progress",
                      "client_amount": null,
                      "reject_reason": null,
                      "gross_amount": "1000.00",
                      "ccy": "INR",
                      "submitted_at": "2026-04-02T12:29:32.518Z",
                      "finalized_at": null,
                      "beneficiary_info": null,
                      "deadline": null
                    }
                  },
                  "DisburseIMPSResponse": {
                    "summary": "IMPS Disburse response",
                    "value": {
                      "txn_id": "019d4e2f-cc14-7497-ae74-d710892817bd",
                      "method": "IMPS",
                      "payment_link": null,
                      "order_id": "order_20260402_003",
                      "state": "in_progress",
                      "client_amount": null,
                      "reject_reason": null,
                      "gross_amount": "2050.00",
                      "ccy": "INR",
                      "submitted_at": "2026-04-02T12:34:08.621Z",
                      "finalized_at": null,
                      "beneficiary_info": null,
                      "deadline": null
                    }
                  },
                  "DisburseUPIResponse": {
                    "summary": "UPI Disburse response",
                    "value": {
                      "txn_id": "019d4e2c-41a9-7234-c8d9-5e8f9a0b1c2d",
                      "method": "IMPS",
                      "payment_link": null,
                      "order_id": "order_20260402_004",
                      "state": "in_progress",
                      "client_amount": null,
                      "reject_reason": null,
                      "gross_amount": "500.00",
                      "ccy": "INR",
                      "submitted_at": "2026-04-02T12:35:10.412Z",
                      "finalized_at": null,
                      "beneficiary_info": null,
                      "deadline": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "error": "VALIDATION_ERROR",
                      "message": "Invalid gross_amount format",
                      "timestamp": "2026-03-31T23:48:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/payments/{id}/query": {
      "get": {
        "tags": ["Payments"],
        "summary": "Query Payment Status",
        "description": "Retrieve the current status of a payment transaction by transaction ID or merchant order ID",
        "operationId": "queryPaymentStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction ID (txn_id) or merchant order ID (order_id)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender_id",
            "in": "query",
            "description": "Merchant account identifier",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txn_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Transaction ID"
                    },
                    "order_id": {
                      "type": "string",
                      "description": "Merchant order ID"
                    },
                    "state": {
                      "type": "string",
                      "enum": ["in_progress", "completed", "failed", "rejected", "paid_adjusted", "paid_partial"],
                      "description": "Current transaction state"
                    },
                    "method": {
                      "type": "string",
                      "description": "Payment method (UPI, IMPS, etc.)"
                    },
                    "gross_amount": {
                      "type": "string",
                      "description": "Original amount"
                    },
                    "client_amount": {
                      "type": "string",
                      "nullable": true,
                      "description": "Actual amount paid"
                    },
                    "ccy": {
                      "type": "string",
                      "description": "Currency code"
                    },
                    "submitted_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Submission timestamp"
                    },
                    "finalized_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Completion timestamp"
                    },
                    "reject_reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Rejection reason if failed"
                    }
                  },
                  "required": ["txn_id", "order_id", "state", "gross_amount", "ccy", "submitted_at"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/payments/{id}/send_proof": {
      "post": {
        "tags": ["Payments"],
        "summary": "Submit Payment Proof (UTR)",
        "description": "Submit proof of payment (UTR - Unique Transaction Reference) for H2H mode transactions with supporting documents",
        "operationId": "submitPaymentProof",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction ID (txn_id)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sender_id",
            "in": "query",
            "description": "Merchant account identifier",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["utr"],
                "properties": {
                  "utr": {
                    "type": "string",
                    "description": "Unique Transaction Reference (e.g., banking reference number)",
                    "maxLength": 256
                  },
                  "proof_documents": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Supporting documents (screenshots, receipts, etc.). Max 5 files, 10MB each"
                  }
                }
              },
              "examples": {
                "UTRSubmissionWithProof": {
                  "summary": "Submit UTR with proof documents",
                  "value": {
                    "utr": "TXN202604021227591234567",
                    "proof_documents": ["receipt.pdf", "screenshot.jpg"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proof received and processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txn_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Transaction ID"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["received", "processing", "verified"],
                      "description": "Proof submission status"
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message"
                    }
                  },
                  "required": ["txn_id", "status"]
                },
                "examples": {
                  "ProofReceived": {
                    "summary": "Proof successfully received",
                    "value": {
                      "txn_id": "019d4e2a-296e-7981-b2c3-181a679df8e6",
                      "status": "received",
                      "message": "Proof documents received and queued for verification"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing UTR or invalid documents)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the error"
          }
        },
        "required": ["error", "message"]
      },
      "CollectInfoDTO": {
        "type": "object",
        "description": "Collect (deposit) credentials",
        "properties": {
          "institution": {
            "type": "string",
            "maxLength": 128,
            "description": "Financial institution name"
          },
          "payer_full_name": {
            "type": "string",
            "maxLength": 128,
            "description": "Full name of the payer"
          },
          "card_details": {
            "$ref": "#/components/schemas/PaymentCardInfo"
          },
          "upi_handle": {
            "type": "string",
            "pattern": "^[a-z0-9-_.]{1,128}@[a-z0-9]{1,128}$",
            "description": "UPI handle in format name@bank (e.g., user@ybl)"
          }
        }
      },
      "DisburseInfoDTO": {
        "type": "object",
        "description": "Disburse (withdrawal) credentials",
        "properties": {
          "receiver_name": {
            "type": "string",
            "maxLength": 256,
            "description": "Receiver name (required for IMPS or UPI disbursements)"
          },
          "routing_code": {
            "type": "string",
            "pattern": "^[A-Z]{4}0[A-Z0-9]{6}$",
            "description": "Routing code in format XXXX0XXXXXX (e.g., HDFC0002060). Required for IMPS."
          },
          "account_no": {
            "type": "string",
            "minLength": 9,
            "maxLength": 32,
            "description": "Bank account number. Required for IMPS."
          },
          "upi_handle": {
            "type": "string",
            "pattern": "^[a-z0-9-_.]{1,128}@[a-z0-9]{1,128}$",
            "description": "UPI handle in format name@bank (e.g., user@okaxis). Required for UPI disbursements."
          }
        }
      },
      "PaymentCardInfo": {
        "type": "object",
        "description": "Payment card information",
        "properties": {
          "card_number": {
            "type": "string",
            "description": "Card number (will be validated as credit card)"
          },
          "expiry_month": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "Card expiry month"
          },
          "expiry_year": {
            "type": "integer",
            "description": "Card expiry year (2-digit or 4-digit)"
          },
          "cvv": {
            "type": "string",
            "minLength": 3,
            "maxLength": 4,
            "description": "Card CVV/CVC code"
          },
          "holder_name": {
            "type": "string",
            "description": "Cardholder name"
          }
        }
      },
      "PaymentCreateDTO": {
        "type": "object",
        "description": "Payment creation request",
        "required": [
          "gross_amount",
          "callback",
          "ccy",
          "order_id",
          "side",
          "flow",
          "sender_id"
        ],
        "properties": {
          "gross_amount": {
            "type": "string",
            "pattern": "^\\d+(\\.\\d{1,2})?$",
            "description": "Payment amount (money format)"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL for payment status notifications"
          },
          "ccy": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "Currency code (ISO 4217, e.g., INR, USD)"
          },
          "order_id": {
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "description": "Unique order identifier from merchant"
          },
          "side": {
            "type": "string",
            "enum": ["collect", "disburse"],
            "description": "Transaction direction: collect (deposit) or disburse (withdrawal)"
          },
          "flow": {
            "type": "string",
            "enum": ["peer"],
            "description": "Payment flow type"
          },
          "method": {
            "type": "string",
            "enum": ["upi", "imps"],
            "description": "Payment method"
          },
          "sender_id": {
            "type": "string",
            "maxLength": 128,
            "description": "Merchant account identifier"
          },
          "sender_name": {
            "type": "string",
            "maxLength": 128,
            "description": "Merchant account name (optional)"
          },
          "return_page": {
            "type": "string",
            "format": "uri",
            "description": "Return page URL for collect operations in non-headless mode. Required if headless is false and side is 'collect'"
          },
          "headless": {
            "type": "boolean",
            "description": "Whether to operate in headless mode (no redirect to payment page)"
          },
          "collect_details": {
            "$ref": "#/components/schemas/CollectInfoDTO"
          },
          "disburse_details": {
            "$ref": "#/components/schemas/DisburseInfoDTO"
          },
          "traffic_type": {
            "type": "string",
            "description": "Traffic classification (optional)"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token in format: Bearer <token>"
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Account and balance operations"
    },
    {
      "name": "Payments",
      "description": "Payment transaction operations"
    }
  ]
}
